<!-- body - #2d2f46
#222435
-->

<section class="home">
    <section class="header-image">
        <div class="text_image">
            <div class="container">
                <div class="hero-text">
                    <div class="col-lg-12" style="text-align: center;">
                        <button class="btn-order"><a href="#Menu" class="Order-Scroll">ORDER NOW</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us" style="margin-top: 70px;">
        <div class="container">
            <div class="col-lg-12" style="
                text-align: center;">
                <h2>ABOUT US</h2>
                <h6 style="text-align: center;">What we <span style="color: red;">do</span></h6>
                <hr>

                <div class="inside-text " style="box-shadow: 5px 5px 8px rgb(73 73 73 / 89%)">
                    <div class="col-lg-12" id="About-Animation">
                        <h4 class="h4-text " style="padding-top: 30px;"><b>WE PROVIDE YOU BEST FOOD EXPERIENCE</b></h4>
                        <div class="row" style="
                        margin: 26px;
                    ">
                            <div class="col-lg-6" style="
                            margin-top: 10px;
                            margin-bottom: 50px;
                        ">
                                <img src="images/100.jpeg" alt="#" class="about_image">
                            </div>
                            <div class="col-lg-6" style="
                            margin-top: 10px;
                        ">
                                <p class="text-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
                                    quis cum corporis
                                    molestias
                                    doloremque inventore? Veniam maxime sed totam dicta exercitationem iusto tempora
                                    eveniet
                                    cumque optio nisi? Tempora, molestiae fugit Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Dolorem culpa optio reprehenderit debitis. Alias provident magnam
                                    voluptatum a tempore cum ea quos, aspernatur hic sequi impedit perferendis modi
                                    accusamus
                                    architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis esse
                                    vitae,
                                    eius rem eos perspiciatis voluptate consectetur totam sapiente assumenda, nostrum
                                    velit
                                    exercitationem, itaque recusandae mollitia quis architecto reprehenderit alias et.
                                    Inventore
                                  
                                    <br>
                                    <button class="Read-more" style="padding: 8px;"><a href="about-us.html"
                                            id="Read-more">READ MORE</a></button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="food_fix" style="margin-top: 50px;">
        <div class="container">
            <div class="food_text">
                <h1>FOOD IS LOVE</h1>
            </div>
        </div>
    </section>


    <section class="menu" id="Menu">
        <div class="menu">
            <div class="container">
                <div class="col-lg-12" style="text-align: center;">
                    <h2>MENU</h2>
                    <h6 style="text-align: center;">Eat, drink and <span style="color: red;">live free </span></h6>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section class="collage_img">
        <div class="collage">
            <div class="container">
                <div id="myBtnContainer">
                    <div class="row" style="text-align: -webkit-center; margin-top: 40px;">
                        <% Items.forEach(function(Item) { %>
                            <div class="col-lg-4 col-md-6 col-12" id="BOX1">
                                <div class="coloumn sandwich" data-item="sandwich">
                                    <div class="polaroid" tabIndex="0">
                                        <img class="img-thumbnail" src="images/<%= Item.image %>" />
                                        <div class="dish">
                                            <div class="dish-title">
                                                <h5 class="h3-title">
                                                    <%= Item.name %>
                                                </h5>
                                                <p>110 calories</p>
                                            </div>
                                            <div class="dish-bottom-row">
                                                <ul class="add-cart">
                                                    <li>
                                                        <b>Rs. <%= Item.price %></b>
                                                    </li>
                                                    <li>
                                                        <div class="col-lg-12">
                                                            <button data-item='<%= JSON.stringify(Item) %>'
                                                                class="dish-add-btn">
                                                                <i class="bi bi-plus"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    <!-- <div class="row" style="text-align: -webkit-center;">

                        <% Items.forEach(function(Items) { %>

                            <div class="col-lg-4 col-md-6 col-12" id="BOX1">
                                <div class="coloumn sandwich" data-item="sandwich">
                                    <div class="polaroid" tabIndex="0">
                                        <img class="img-thumbnail" src="images/<%= Items.image%>" />
                                        <div class="dish">
    
                                            <div class="dish-title">
                                                <h5 class="h3-title"><%= Items.name %></h5>
                                                <p>110 calories</p>
                                            </div>
    
                                            <div class="dish-bottom-row">
                                                <ul class="add-cart">
                                                    <li>
                                                        <b>Rs. <%= Items.price %></b>
                                                    </li>
                                                    <li>
                                                        <div class="col-lg-12">
                                                            <button data-Items='{"name": "Item1", "price": 10}' class="dish-add-btn">
                                                                <i class="bi bi-plus"></i>
                                                            </button>
                                                            <button class="dish-add-btn2">
                                                                <i class="bi bi-cart-fill"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}) %> -->



                    <!-- <div class="col-lg-4 col-md-6 col-12" id="BOX2">
                            <div class="polaroid" tabIndex="0">
                                <div class="coloumn drink" data-item="drink">
                                    <img class="img-thumbnail" src="images/23.webp" />
                                    <div class="dish">
                                        <div class="dish-title">
                                            <h5 class="h3-title">COFFEE</h5>
                                            <p>50 calories</p>
                                        </div>
                                        <div class="dish-bottom-row">
                                            <ul class="add-cart">
                                                <li>
                                                    <b>Rs. 20</b>
                                                </li>
                                                <li>
                                                    <div class="col-lg-6">
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-cart-fill"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 col-12" id="BOX3">
                            <div class="polaroid" tabIndex="0">
                                <div class="coloumn burger" data-item="burger">

                                    <img class="img-thumbnail" src="images/24.jpeg" />
                                    <div class="dish">
                                        <div class="dish-title">
                                            <h5 class="h3-title">BURGER</h5>
                                            <p>250 calories</p>
                                        </div>
                                        <div class="dish-bottom-row">
                                            <ul class="add-cart">
                                                <li>
                                                    <b>Rs. 30</b>
                                                </li>
                                                <li>
                                                    <div class="col-lg-6">
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-cart-fill"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" id="BOX4">
                            <div class="polaroid" tabIndex="0">
                                <div class="coloumn drink" data-item="drink">
                                    <img class="img-thumbnail" src="images/4.jpg" />
                                    <div class="dish">
                                        <div class="dish-title">
                                            <h5 class="h3-title">COCACOLA</h5>
                                            <p>150 calories</p>
                                        </div>
                                        <div class="dish-bottom-row">
                                            <ul class="add-cart">
                                                <li>
                                                    <b>Rs. 20</b>
                                                </li>
                                                <li>
                                                    <div class="col-lg-6">
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-cart-fill"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" id="BOX5">
                            <div class="polaroid" tabIndex="0">
                                <div class="coloumn dessert" data-item="dessert">

                                    <img class="img-thumbnail" src="images/25.webp" />
                                    <div class="dish">
                                        <div class="dish-title">
                                            <h5 class="h3-title">BROWNIE</h5>
                                            <p>400 calories</p>
                                        </div>
                                        <div class="dish-bottom-row">
                                            <ul class="add-cart">
                                                <li>
                                                    <b>Rs. 20</b>
                                                </li>
                                                <li>
                                                    <div class="col-lg-6">
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-cart-fill"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12" id="BOX6">
                            <div class="polaroid" tabIndex="0">
                                <div class="coloumn dessert" data-item="dessert">

                                    <img class="img-thumbnail" src="images/6.jpg" />
                                    <div class="dish">
                                        <div class="dish-title">
                                            <h5 class="h3-title">PASTRY</h5>
                                            <p>450 calories</p>
                                        </div>
                                        <div class="dish-bottom-row">
                                            <ul class="add-cart">
                                                <li>
                                                    <b>Rs. 40</b>
                                                </li>
                                                <li>
                                                    <div class="col-lg-6">
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-plus"></i>
                                                        </button>
                                                        <button class="dish-add-btn">
                                                            <i class="bi bi-cart-fill"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->

                </div>
            </div>
        </div>
        </div>
    </section>




    <!-- <section class="collage_img">
        <div class="collage">
            <div class="container">
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-4 col-md-6 col-12" id="BOX7">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn sandwich">
                                <img class="img-thumbnail" src="images/22.jpg" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">CORN SANDWICH</h5>
                                        <p>140 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs.19</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-12" id="BOX8">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn drink">
                                <img class="img-thumbnail" src="images/26.webp" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">TEA</h5>
                                        <p>10 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs. 10</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-12" id="BOX9">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn burger">

                                <img class="img-thumbnail" src="images/27.jpg" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">CHEESE BURGER</h5>
                                        <p>220 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs. 49</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12" id="BOX10">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn drink">

                                <img class="img-thumbnail" src="images/30.jpeg" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">SPRITE</h5>
                                        <p>150 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs. 20</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12" id="BOX11">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn dessert">

                                <img class="img-thumbnail" src="images/28.jpg" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">CHOCOLATE</h5>
                                        <p>200 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs. 50</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12" id="BOX12">
                        <div class="polaroid" tabIndex="0">
                            <div class="coloumn patties">
                                <img class="img-thumbnail" src="images/29.jpg" />
                                <div class="dish">
                                    <div class="dish-title">
                                        <h5 class="h3-title">ALOO PATTIES</h5>
                                        <p>50 calories</p>
                                    </div>
                                    <div class="dish-bottom-row">
                                        <ul class="add-cart">
                                            <li>
                                                <b>Rs. 15</b>
                                            </li>
                                            <li>
                                                <div class="col-lg-6">
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="dish-add-btn">
                                                        <i class="bi bi-cart-fill"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section> -->
</section>